<form method="get" id="searchform" action="http://alllies.org/blog/" style="margin:0">
  <table border="0" class="top_menu">
    <tr>
        {% for teaser in TEASERLISTS.top_menu.teasers.all %}
            <td class="menu-item">
                {%if teaser.link %}
                    <a href="{{ teaser.link }}">{{ teaser.title }}</a>
                {% else %}
                    {{ teaser.title }}
                {% endif %}
            </td>
        {% endfor %}
        <td class="menu-item last-teaser">
	    <input size="20" type="text" class="search_input" value="חיפוש" name="s" id="s" onfocus="if (this.value == 'חיפוש') {this.value = '';}" onblur="if (this.value == '') {this.value = 'חיפוש';}">
	    <input type="hidden" id="searchsubmit" value="חיפוש">
        </td>
      </tr>
    </table>
</form>
