body { font-family: arial, georgia, helvetica, sans-serif }
a { color: #7f7fff; text-decoration: none; }
a:visited { color: #3f3f7f; text-decoration: none; }
a:hover { color: #00003f; text-decoration: underline; }
a img { border: none; }

address { font-style: normal !important ; font-size: 0.8em; line-height: 1em }
address a { color: #3f3fcf !important }

.clear-floats { clear: both }
.top_menu { clear:both; margin-bottom:4px; padding: 0 ; text-align:left; position:relative; top:-4px; right:4px }
.menu-item {
    padding:0 8px;
    vertical-align:middle;
    font-size: 13px;
    font-weight:bold;
    border-right: solid #ccc 1px
}
.menu-item a { color:#000000; text-decoration:none }
.menu-item a:hover { color:#7f7f7f }
.main-item, .teaserlist { font-size: .85em }
.main-item { border: solid #ccc 1px; padding:4px }
.teaserlist { padding:0 4px 8px 8px } /* width is default. tl-<slug> overrides for specific teaserlist */
.teaserlist-header { background-color:#777; color:#fff; padding: 4px 0; font-weight:bold; font-size:1.25em; text-align:center }
.teaserlist-header a, .teaserlist-header a:visited { color: #c22631 }
.teaser-header { padding: 12px 0 2px 0; font-weight:bold; font-size:1.05em }
.teaser-header a, .teaser-header a:visited { color: #b42f34 }
.tl-fun { width: 350px }
.teaser { padding: 2px 4px; border-bottom: solid #998779 1px }
table.teaser { width:100% }
.last-teaser { border: none !important }
.teaser-content { padding:  0; margin:0; font-size:0.9em; line-height: 1.4em }
.teaser-content p { padding: 4px 0; margin:0 }
.teaser-content img { border: none; text-align: none !important }
.more-link { text-align: left; margin: 4px }
.credit { font-size: .7em }
.search_input { margin: 0; padding: 0; color: #5F5F5F; font: normal 1.0em Georgia, "Times New Roman", Times, serif; border: 1px solid #999; }
.search_input:focus { color:#000 }
