{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Dashboard" %}{% endblock %}
{% block content %}
<h3>{% trans "Dashboard" %}</h3>
<div>
[<a href="{% url admin:tease_teaser_changelist %}">{% trans "The matrix" %}</a>]
[<a href="{% url admin:flatpages_flatpage_change 1 %}">{% trans "Edit main item" %}</a>]
[<a href="..">Homepage</a>]
</div>
<!--
<div>
[<a target="_blank" href="{% url fb_browse %}">{% trans "File manager" %}</a> ({% trans "upload header image etc." %}) ]
</div>
-->
<ul>
{% for object in object_list %}
    {% spaceless %}
        <li>
            <a href="{% url teaserlist object.slug %}">{{ object.title }}</a>
            {% if object.feed_url %}
                &nbsp;(<a target="_blank" href="{{ object.feed_url }}">{{ object.feed_method }}</a>)
            {% endif %}
            &nbsp;[<a href="{% url admin:tease_teaserlist_change object.id %}">{% trans "Edit/Reorder" %}</a>]
            {% if object.has_feed %}
                &nbsp;[<a href="{% url teaserlist-load-feed object.slug %}">{% trans "Reload from feed" %}</a>]
            {% endif %}
        </li>
    {% endspaceless %} 
{% endfor %}
</ul>
{% endblock %}
